.formRegisterTeacher{
    display: flex;
    flex-direction: row;
}

.formRegisterTeacher-img{
    width: 50%;
    padding: 2rem;
}

.teacherImg{
    border-radius: 6px;
    width: 100%;
    opacity: .6;
}

.formRegisterTeacher-form{
width: 50%;
padding: 2rem;
}

.formCompRegister-emailPhoneContent{
    margin-top: 1.5rem;
}